<!-- <button (click)='toggleData()' [style.color] = "toggleBtn ? 'Yellow' : 'green'">{{toggleBtn ? 'Mostrar':'Ocultar'}}</button>  
<div *ngIf=toggleBtn>
  <br>
  <input [(ngModel)]='title' [size]='ancho'>
  <p [ngStyle]="addStyles()" [textContent]=title></p> 
  <button [ngStyle]="addStyles()" (click)='changeColor()'>Cambiar color</button>  
  <button [class]='classesToApply' (click)='changeColor()'>Cambiar color</button>  
</div>
 -->
<!--  <app-employee></app-employee> -->

 <list-employee></list-employee>